.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    outline: none;
}

.form_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: #905ac5;
}

.form_control select {
    padding: 0.7em;
    border-radius: 3px;
    border: none;
}