.btn {
    background-color: #d8a859;
    color: #e1ddea;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.btn:hover {
    background-color: #905ac5;
}