@charset "UTF-08";

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    color: snow;
    width: 500px;
    padding: 0.7px;
    text-align: center;
    box-shadow: 1.5px 1.5px 3px #262b2a
}

article {
    background-color: #fbfcff;
    width: 500px;
    padding: 0.5px;
    box-shadow: 1.5px 1.5px 3px #262b2a
}

p {
    width: 90%;
    text-align: right;
}

#dec {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1 px;
    text-align: center;
    border: 1px solid #586361;
    background: transparent;
    color: #262b2a;
    box-shadow: 1px 1px 2px #5e6b69;
    border-radius: 5px;
    padding:  3px 10px;
    display: inline-block;
    cursor: pointer;
    margin: 1px;
}