.project_container {
    width: 1200px;
    padding: 2em;
    color: #905ac5;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}