.footer {
    background-color: #d8a859;
    color: #e1ddea;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list svg {
    font-size: 2em;
    cursor: pointer;
}

.social_list li:hover {
    color: #905ac5;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
}