.btn {
    background-color: #d8a859;
    color: #e1ddea;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 3px;
}

.btn:hover {
    background-color: #905ac5;
}